.chat-screen {
  border-radius: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
  color: #007bff;
}

a:hover {
  color: #0056b3;
}

.questionHeadDiv {
  top: -4px;
  padding: 10px 20px 10px 0px;
  display: flex;
  align-items: center;
}
.questionHeadDiv img{
  display:flex;
  padding-left: 100%;
}

.questionHead {
  font-size: 16px;
  font-weight: 600;
  line-height: 20.8px;
  letter-spacing: 0.1em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #6e6e6e;
}


.questionDiv {
  background-color: #acd3ff;
  display: flex;
}

.question-title {
  width: 100%;
  font-size: 22px;
  padding: 10px 10px;
  font-weight: 700;
  margin: 10px 10px;
}

.questionDiv img {
  width: 200px;
  height: 70%;
  align-self: flex-end;
}

.moreQue {
  max-width: 320px;
  display: flex;
  border: 1px solid #a4c2e5;
  background-color: #81b9fa;
  color: #000000;
  width: 80%;
  height: 40px;
  margin: auto;
  margin-top: -20px;
  border-radius: 10px;
  padding: 6px;
  display: flex;
  font-size: 12px;
}

.moreQue p {
  margin-top: 5px;
}

.chat-messages {
  width: 100vw;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-left: 10px;
  margin-top: 1%;
  word-wrap: break-word;
  scrollbar-width: none;
  flex-grow: 1;
}

.sender-name {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
  color: white;
}

.message-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 5px 0;
}

.message-text {
  margin: 0;
  font-size: 14px;
  word-break: break-word;
}

.message {
  margin-top: 0%;
  padding: 5px 10px;
  border-radius: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  justify-content: flex-start;
  max-width: 75%;
}

.message.bot {
  color: black;
  background: #efefef;
  padding: 5px 10px;
  border-radius: 10px;
  max-width: 75%;
  text-align: left;
}

.bot-message .message.bot {
  color: #333;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 75%;
  text-align: left;
  font-size: 14px;
  word-break: break-word;
  top: 0%;
}

.message-text {
  color: black;
}

.message.bot .sender-name {
  color: red;
}

.message.user {
  background-color: #007bff;
  color: white;
  text-align: left;
  flex-direction: row;
  top: 0%;
  padding-top: 0%;
}

.user-message {
  flex-direction: row;
  justify-content: flex-end;
}

.user-image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 10px;
}

.bot-image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.user {
  text-align: left;
}

.right {
  margin-right: 10px;
}

.input-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 50px;
}

.input-section input {
  display: flex;
  height: 50px;
  border-radius: 5px;
  width: 75%;
  border: 2px solid #ffffff;
  background-color: lightgray;
  font-size: 14px;
  /* margin-left: 10px; */
}

.send-button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
