body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

body #root{
    max-width: 425px;
}

.login-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    flex-direction: column;
}

.imageDiv {
    display: flex;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
    background-color: #4592EC;
    border-radius: 0 0 35% 35%;
}

.imageDiv p {
    display: flex;
    align-self: center;
    font-size: 24px;
    font-weight: 600;
    color:white;
}

.imageDiv img{
    display: flex;
    height: 250px;
    justify-content: center;
}

.jointhefun {
    font-size: 24px;
    font-weight: 600;
    color: #2A4D76;
}

.input-group {
    display: flex;
    width: 75%;
    flex-direction: column;
    margin-bottom: 10px;
    justify-self: center;
}

.input-group input {
    padding: 8px;
    font-size: 14px;
    border: 2px solid #007bff;
    border-radius: 50px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-group input.error {
    border-radius: 50px;
    border-color: red;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 3px;
}

.password-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.password-wrapper input {
    width: 75%;
    padding: 8px;
    font-size: 14px;
    border: 2px solid #007bff;
    border-radius: 50px;
}

.password-wrapper .eye-icon {
    position: absolute;
    display: flex;
    align-self: flex-end;
    padding-top: 2.5%;
    padding-right: 18%;
    flex-direction: column;
    cursor: pointer;
    color: #4592EC;
}

.password-wrapper input.error {
    border-radius: 50px;
    border-color: red;
}

button {
    margin-top: 2%;
    padding: 10px;
    align-self: center;
    background-color: #4592EC;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}